DB_NAME=team08
DB_USERNAME=team08
DB_PASSWORD=change-me-database-password
MYSQL_ROOT_PASSWORD=change-me-root-password

CLOUDFRONT_DOMAIN=cloudfront-domain
CLOUDFRONT_KEY_PAIR_ID=cloudfront-key-pair-id
CLOUDFRONT_PRIVATE_KEY=cloudfront-private-key

APP_DATA_INIT_MODE=bulk #none/simple/bulk : spring 프로젝트 작동이 트리거 /앱 구동 및 테스트시 데이터 얼마나 만들지
